body{
    width: 1000px;
    margin: 0 auto 0 auto;
}
header{
    height: 240px;
    background-color: rgb(221, 202, 188);
}
header #dejaMembre{
    display: none;
}
a:link{
    color: rgb(143, 75, 29);
}
a:hover{
    color :rgb(71, 33, 8);
}
a:visited{
    color: rgb(143, 75, 29);
}
#logo{
    float: left;
}
h1{
    margin: 0;
    padding-top: 66px;
    font-size: 40pt;
}
#monsieur{
    color: rgb(141, 58, 4);
}
#meilleur-java{
    font-size: 35pt;
    color: rgb(160, 110, 77);
}
#dejaMembre{
    display: block;
    color : rgb(160, 110, 77);
    text-align: right;
    padding-right: 20px;
}
nav{
    display: none;
}
h2{
    display: block;
    width: 960px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    color:rgb(160, 110, 77);
}
h3{
    color:rgb(160, 110, 77);
    margin-top: 30px;
}
main{
    margin-left : 20px;
    margin-right : 20px;
}
main p{
    line-height: 17pt;
}
main ul{
    padding-left: 30px;
}
footer{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 960px;
    border-top: 1px solid rgba(160, 110, 77);
    margin-top: 80px;
    margin-left : 20px;
}
footer h3{    
    
    margin-bottom: 20px;    
    margin-top: 10px;
    color:rgb(160, 110, 77);
}
#fleche-footer{    
    display: none;
}
#block-mailto{
    float: right;
}
#lien-mailto{
    display: inline-block;
    width:  98px;    
    margin-top: 55px;
}
#logo-mailto{
    float: left;
}
